/*!
 * Start Bootstrap - Full Width Pics (https://startbootstrap.com/template-overviews/full-width-pics)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-full-width-pics/blob/master/LICENSE)
 */
html, body {
  overflow-x: hidden;
  font-family: 'Noto Sans TC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  -webkit-backface-visibility: hidden;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;	
	
}

a, a:hover {
	text-decoration: none;
}

body {
	width: 100vw;
	overflow-x: hidden;
	padding: 0 150px 0 0;
}

button:focus {
	outline: none !important;
}

@media (max-width: 766px) {
body {
	padding: 60px 0 0 0 !important;
}
}

.sidenav {
	width: 150px;
	height: 100vh;
	position: fixed;
	z-index: 9;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	padding: 0;
	-webkit-box-shadow: -10px 0px 40px 5px rgba(0,0,0,0.4); 
    box-shadow: -10px 0px 40px 5px rgba(0,0,0,0.4);
}

.navbar-brand {
	width: 100%;
	padding: 0 0 100% 0;
	margin: 0;
	background-color: #e6b600;
	display: block;
	background-image: url("../img/logo-md.svg");
	-moz-background-size:66% auto;
    -webkit-background-size:66% auto;
    -o-background-size:66% auto;
    background-size:66% auto;
	background-repeat: no-repeat;
	background-position: center center;
}

.navbar-collapse {
	align-items: flex-start;
	width: 100%;
}

.navbar-expand-md .navbar-nav {
	width: 100%;
	padding: 20px 35px 0 35px;
	display: flex;
	flex-direction: column;
}

.navbar-expand-md .navbar-nav .nav-item {
	padding: 0;
}

.navbar-expand-md .navbar-nav .nav-item .nav-link {
	font-family: 'Noto Serif TC', serif;
	font-size: 12px;
	font-weight: 400;
	color: #595757;
	text-align: center;
	padding: 20px 0;
	position: relative;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


.navbar-expand-md .navbar-nav .nav-item.active .nav-link {
	color: #e6b600;
	cursor: default;
    pointer-events: none;
}

.navbar-expand-md .navbar-nav .nav-item.active .nav-link::before {
	content: '';
	position: absolute;
	z-index: 3;
	left: -35px;
	top: 50%;
	width: 5px;
	height: 45%;
	background-color: #e6b600;
	transform: translateY(-50%);
}


.navbar-expand-md .navbar-nav .nav-item .nav-link span {
	font-size: 15px;
	font-weight: 600;
	text-align-last: justify;
	text-justify: inter-character; 
	-ms-text-justify: inter-character; 
	-moz-text-align-last:justify; 
	-webkit-text-align-last:justify;
}

.navbar-expand-md .navbar-nav hr {
	width: 100%;
	height: 1px;
	left: 0;
	bottom: 0;
	display: block;
	background-color: #595757;
	opacity: .2;
	margin: 0;
	border: none;
}

.navbar-expand-md .navbar-nav .nav-item .nav-link:hover {
	color: #e6b600;
}


@media (max-width: 766px) {
.sidenav {
	width: 100%;
	height: auto;
	position: fixed;
	z-index: 9;
	top: 0;
	right: 0;
	flex-direction: row;
	padding: 0;
	-webkit-box-shadow: 0px 10px 40px 5px rgba(0,0,0,0.4); 
    box-shadow: 0px 10px 40px 5px rgba(0,0,0,0.4);
}
.navbar-brand {
	width: 180px;
	height: 60px;
	margin: 0;
	padding: 0;
	background-image: url("../img/logo-sm.svg");
	-moz-background-size:80% auto;
    -webkit-background-size:80% auto;
    -o-background-size:80% auto;
    background-size:80% auto;
}
	
.navbar-expand-md .navbar-nav {
	padding: 40px;
}
	
.navbar-expand-md .navbar-nav .nav-item .nav-link {
	font-size: 12px;
	text-align: right;
	padding: 15px 10px 15px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar-expand-md .navbar-nav .nav-item .nav-link span {
	font-size: 17px;
	letter-spacing: 4px;
	display: inline-block;
}
	
.navbar-expand-md .navbar-nav .nav-item.active .nav-link {
	padding: 15px 10px 15px 25px;
	}
	
	.navbar-expand-md .navbar-nav .nav-item.active .nav-link::before {
		left: 0;
		width: 10px;
		height: 2px;
	}
	
}


.navbar-toggler {
	position: relative;
	z-index: 9999;
	border: none;
	height: 60px;
	display: block;
	width: 60px;
	padding: 15px;
}
.navbar-toggler #nav-icon3 {
	width: 30px;
	height: 20px;
	display: block;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}
.navbar-toggler #nav-icon3 span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #231815;
	border-radius: 0;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out
}

.navbar-toggler #nav-icon3 span:nth-child(1) {
	top: 0
}
.navbar-toggler #nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
	top: 9px
}
.navbar-toggler #nav-icon3 span:nth-child(4) {
	top: 18px
}
.nav-open #nav-icon3 span:nth-child(1) {
	top: 9px;
	width: 0;
	left: 50%
}

.nav-open #nav-icon3 span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg)
}
.nav-open #nav-icon3 span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg)
}
.nav-open #nav-icon3 span:nth-child(4) {
	top: 9px;
	width: 0;
	left: 50%
}

.flex-center {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%
}

footer {
	position: fixed;
	z-index: 8;
	left: 0;
	bottom: 0;
	width: calc(100% - 150px);
	background-color: rgba(50,51,51,.85);
	padding: 15px 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

footer .logo {
	width: 125px;
	margin: 0 20px 0 0;
}

footer .footer-inner {
	display: flex;
	align-items: center;
	margin: 0 15px;
}

footer .footer-inner2 {
	position: relative;
	padding: 0 0 0 20px;
}

footer .footer-inner2::before {
	content: '';
	position: absolute;
	z-index: 2;
	left: 0;
	top: 7%;
	width: 1px;
	height: 86%;
	background-color: rgba(255,255,255, .3);
}


footer .footer-inner img {
	width: 16px;
	margin-right: 7px;
}

footer .footer-inner span  {
	font-size: 11px;
	font-weight: 500;
	color: #fff;
}

footer .cr {
	display: inline-block;
	margin: 0 0 0 auto;
	font-size: 12px;
	font-weight: 350;
	color: rgba(255,255,255, .5);
	transform-origin: left center;
	transform: scale(.85);
}

footer .d-l {
	display: flex;
}

footer .d-m {
	display: none;
}

@media screen and (min-width:767px) and (max-width:1057px) {
	footer {
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
	footer .footer-inner {
		margin: 0 10px 0 0;
		display: inline-block;
	}
	
	footer .d-m .cr {
	display: block;
	margin: 10px 0 0 0;
}
	
	footer .d-l {
		display: none;
	}
	
	footer .d-m {
		display: block;
	}
}

@media (max-width: 766px) {
	footer {
		position: relative;
		width: 100vw;
		overflow: hidden;
		padding: 15px 10px;
		align-items: flex-start;
		background-color: rgba(50,51,51,1);
	}
	footer .logo {
	width: 90px;
	margin: 10px 20px 0 0;
    }
	footer .footer-inner {
		margin: 0 10px 0 0;
		display: block;
	}
	
	footer .d-l {
		display: none;
	}
	footer .d-m {
		display: block;
	}
	
	footer .footer-inner2 {
		display: flex;
		flex-direction: column;
	}
	footer .d-m .cr {
	display: block;
	margin: 10px 0 0 0;
	transform: scale(.85);	
    }
}

header {
	width: calc(100vw - 150px);
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.mv_slide {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.mv_slide .photo {
	width: calc(100vw - 150px);
	height: 100vh;
	display: block;
	-moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
	background-position: center center;
	background-repeat: no-repeat;
}

@media (max-width: 766px) {
	
header {
	width: 100%;
	height: calc(100vh - 60px);
}
	
	.mv_slide .photo {
		width: 100vw;
		height: calc(100vh - 60px);
	}
}


.slogan {
	width: auto;
	height: 100%;
	position: absolute;
	z-index: 3;
	left: 5%;
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	-webkit-transition: all 0.5s ease-out 1s;
    -moz-transition: all 0.5s ease-out 1s;
    -ms-transition: all 0.5s ease-out 1s;
    -o-transition: all 0.5s ease-out 1s;
    transition: all 0.5s ease-out 1s;
}

.slogan .inner {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	padding: 0 40px;
	align-items: center;
}

.slogan .inner::before {
	content:'';
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0, .35);
	mix-blend-mode: color-burn;
}

.slogan .inner h1 {
	font-family: 'Noto Serif TC', serif;
	font-size: 35px;
	font-weight: 700;
	color: #fff;
	transform: translateY(-50%);
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
	opacity: 0;
	-webkit-transition: all 0.3s ease-out 1.5s;
    -moz-transition: all 0.3s ease-out 1.5s;
    -ms-transition: all 0.3s ease-out 1.5s;
    -o-transition: all 0.3s ease-out 1.5s;
    transition: all 0.3s ease-out 1.5s;
}


.slogan.play {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.slogan.play .inner h1 {
	opacity: 1;
}


@media (max-width: 766px) {
	.slogan {
		width: 100%;
		height: auto;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	
	.slogan .inner {
		padding: 20px 0;
		justify-content: center;
	}
	
	.slogan .inner h1 {
	font-size: 30px;
	transform: translateY(0);
}
}

.wrap {
	position: absolute;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100vw;
	height: 0;
	visibility: hidden;
	background-color: #e6b600;
	-webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.wrap.on {
	height: 100vh;
	visibility: visible;
	-webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

/* SLIDE
---------------------------------------------------------------------*/
.slide-animation {
    animation: fadezoom 10s linear forwards;
}
@keyframes fadezoom {
  0% { transform:scale(1.15);}
  100% { transform:scale(1);}
}
