@charset "UTF-8";
/* CSS Document */

section.page, section.page2 {
	width: calc(100vw - 150px);
	height: 100vh;
	position: relative;
	-moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

section.page3 {
	width: calc(100vw - 150px);
	height: auto;
	min-height: 100vh;
	position: relative;
	-moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 130px 0 100px 0;
}

section.page4 {
	width: calc(100vw - 150px);
	height: auto;
	min-height: 100vh;
	position: relative;
	-moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 0 0 80px 0;
}

@media (max-width: 766px) {
	section.page {
	width: 100vw;
	padding: 0;
	height: calc(100vh - 60px);
}
	section.page2 {
	width: 100vw;
	height: 130vh;
}
	section.page3 {
	width: 100vw;	
	padding: 100px 0 80px 0;
}
	section.page4 {
	width: 100vw;	
	padding: 0 0 80px 0;
}
}

.title {
	position: absolute;
	z-index: 2;
	width: 90%;
	height: auto;
	left: 5%;
	top: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-family: 'Noto Serif TC', serif;
	white-space:nowrap;
}

.title h3 {
	font-size: 24px;
	font-weight: 600;
	margin: 0 20px 0 0;
	display: inline-block;
}

.title .d-line {
	width: 100%;
	height: 1px;
	display: inline-block;
}

.title span {
	font-size: 14px;
	font-weight: 400;
	margin: 0 0 0 20px;
	letter-spacing: 2px;
	display: inline-block;
}

@media (max-width: 766px) {
	.title {
		width: 80%;
		left: 10%;
		top: 30px;
	}
	.title h3 {
		font-size: 20px;
		margin: 0 10px 0 0;
	}
	
	.title span {
		font-size: 12px;
		margin: 0 0 0 10px;
	}
}

.title.wt {
	color: #fff;
}

.title.wt .d-line {
	background-color: #fff;
}

.title.gy {
	color: #3e3a39;
}

.title.gy .d-line {
	background-color: #3e3a39;
}

.overlay {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 120px;
	top: 0;
}

.overlay.wt {
	background: linear-gradient(0deg, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 100%);
	mix-blend-mode: color-burn;
	opacity: .5;
}

.overlay.gy {
	background: linear-gradient(0deg, rgba(255,255,255,0) 30%, rgba(255,255,255,1) 100%);
	mix-blend-mode: screen;
	opacity: .5;
}

.content {
	position: absolute;
	z-index: 5;
	width: 100%;
	height: auto;
	left: 0;
	bottom: 0;
	display: block;
	background-blend-mode: color-burn;
	backdrop-filter: blur(3px);
}

.content-text {
	position: relative;
	width: 100%;
	height: auto;
	padding: 30px 40px;
	display: inline-block;
}

.content-text h2 {
	font-family: 'Noto Serif TC', serif;
	font-size: 22px;
	font-weight: 700;
	margin: 0 0 10px 0;
	display: block;
}

.content-text h3 {
	font-size: 16px;
	font-weight: 700;
	margin: 15px 0 0 0;
	display: block;
}

.content-text h3.yw {
	color: #e6b600;
	margin: 15px 0 10px 0;
}

.content-text p {
	font-size: .9rem;
	font-weight: 400;
	line-height: 1.6;
	margin: 0;
	text-align: justify;
	
}

.content-text p.sm {
	font-size: .9rem;
	line-height: 1.6;
}

.content-text .sp {
	display: block;
	margin: 10px 0 0 0;
}

.content-text .sp h5 {
	font-size: 15px;
	font-weight: 600;
	padding: 0 0 10px 0;
	margin:  0 0 8px 0;
	color: #e6b600;
	border-bottom: solid 1px #e6b600;
}

.content-text .sp ul {
	list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.content-text .sp ul li {
	padding-left: 1rem;
    text-indent: -1.2rem;
	font-size: .9rem;
	font-size: 400;
	line-height: 1.4;
}

.content-text .sp ul li:before {
  content: "‧";
  padding-right: 5px;
}

.content.bk {
	background-color: rgba(0,0,0, .55);
	color: #fff;
}

.content.wt {
	background-color: rgba(255,255,255, .55);
	color: #231815;
}

.content.tp {
	background-color: rgba(255,255,255, 0);
	color: #323333;
}

@media (min-width: 767px) {
	.content {
		width: auto;
		display: inline-grid;
		grid-template-columns: auto auto;
	}
	
	.content-text h2 {
		font-size: 28px;
		margin:  0 0 15px 0;
	}
	
	.content-text h3 {
		font-size: 16px;
		margin:  20px 0 0 0;
	}
	
	.content-text p {
		font-size: .88rem;
	    line-height: 1.7;
		width:0;
		min-width:100%;
		grid-column:1/-1;
		word-wrap: break-word;
	}
	
	.content-text .sp ul li, .content-text p.sm {
	font-size: .8rem;
	line-height: 1.7;
}
	
	.content.tp {
	background-color: rgba(255,255,255, 0);
	color: #323333;
}
	
	.content#ca1 {
		left: 5%;
		bottom: 50%;
		transform: translateY(45%);
	}
	
	.content#ca2 {
		left: 5%;
		bottom: 50%;
		transform: translateY(45%);
	}
	
	.content#ca3 {
		left: auto;
		right: 5%;
		bottom: 50%;
		transform: translateY(45%);
	}
	
	.content#ca4 {
		left: 5%;
		top: 17.5%;
		bottom: auto;
	}
}

.content-list {
	width: 90%;
	margin: 0 auto;
}

@media (max-width: 766px) {
	.content-list {
	width: 80%;
}
}

a.team-link {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}

a .action-inner {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(49,49,49, .85);
	mix-blend-mode: multiply;
	display: block;
	-webkit-box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.45); 
    box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.45);
}

a .action-inner-yw {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #e6b600;
	display: block;
	clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

a:hover .action-inner-yw {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

a .team-frame {
	position: relative;
	z-index: 5;
	left: 0;
	top: 0;
	width: 100%;
	display: block;
}

.team-thumb-frame {
	width: 100%;
	height: auto;
	padding: 0 0 100% 0;
	display: block;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.team-text  {
	width: 100%;
	height: auto;
	padding: 15px 25px;
	color: #fff;
	display: block;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

a:hover .team-text {
	color: #111;
}

.team-text h5 {
	font-size: 12px;
	font-weight: 400;
	margin: 0 0 7px 0;
}

.team-text3 h5 {
	font-size: 12px;
	font-weight: 400;
	margin: 0 0 7px 0;
}

.team-text h3 {
	font-family: 'Noto Serif TC', serif;
	font-size: 18px;
	font-weight: 700;
	margin: 0;
}

.team-text h3 span {
	font-weight: 400;
	display: inline-block;
	margin: 0 15px 0 0;
}

@media screen and (min-width:767px) and (max-width:1059px) {
	.team-text h3 span {
	display: block;
	margin: 0 0px 3px 0;
}
}

.team-pic {
	width: 100%;
	height: 100vh;
	padding: 0 0 150% 0;
	display: block;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
	background-position: center top;
	background-repeat: no-repeat;
}

@media (max-width: 766px) {
	.team-pic {
		padding: 0 0 100% 0;
		height: auto;
		margin: 0 0 30px 0;
	}
}

.team-text2 {
	color: #231815;
}

.team-text2 h5 {
	position: relative;
	font-size: 16px;
	font-weight: 400;
	padding: 0 0 0 20px;
}

.team-text2 h5::before {
	content:'';
	position: absolute;
	z-index: 1;
	width: 5px;
	height: 80%;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: #e6b600;
}

.team-text2 h2 {
	font-family: 'Noto Serif TC', serif;
	font-size: 32px;
	font-weight: 700;
	margin: 0 0 20px 0;
}

.team-text2 h2 span {
	font-weight: 400;
	display: inline-block;
	margin: 0 15px 0 0;
}

.team-text2 h4 {
	font-size: 17px;
	font-weight: 700;
	margin: 0 0 10px 0;
}

.team-text2 p {
    font-size: .85rem;
    line-height: 1.7;
}

.btn-custom {
	border-radius: 0;
	border: none;
	color: #231815;
	padding: 5px 20px 5px 25px;
	background-color: #e6b600;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 3px;
	-webkit-box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.35); 
    box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.35);
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	margin: 10px 0 0 0;
}

.btn-custom:hover {
	background-color: #231815;
	color: #e6b600;
}

.btn-custom2 {
	border-radius: 0;
	border: none;
	color: #231815;
	padding: 5px 20px 5px 25px;
	background-color: #e6b600;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 3px;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	margin: 0;
	white-space:nowrap;
}

.btn-custom2:hover {
	background-color: #231815;
	color: #e6b600;
}

@media (max-width: 766px) {
	.team-text2 h5 {
		font-size: 14px;
	}
	
	.team-text2 h2 {
		font-size: 25px;
	}
	
	.team-text2 h4 {
		font-size: 15px;
	}
	
	.btn-custom {
		font-size: 14px;
		margin: 10px 0 0 auto;
	}
	
	.btn-custom2 {
		display: block;
		font-size: 14px;
		margin: 0;
	}
}

.project-thumb-frame {
	width: 100%;
	height: auto;
	padding: 0 0 120% 0;
	display: block;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.search-sq {
	background-color: rgba(255,255,255, .5);
}

.search-sq2 {
	background-color: rgba(0,0,0, );
	border: solid 1px #fff;
}

.search-frame {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding: 10px 0;
}

.search-sq .select-css {
	display: block;
	font-size: .85rem;
	color: #323333;
	background-color: rgba(255,255,255, 0);
	border: solid 1px #323333;
	line-height: 1.5;
	padding: 5px 1rem;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0 10px 0 0;
	border-radius: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url('../img/arrow.svg');
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

.search-sq2 .select-css {
	display: block;
	font-size: .85rem;
	color: #fff;
	background-color: rgba(0,0,0, 1);
	border: none;
	line-height: 1.5;
	padding: 5px 1rem;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0 10px 0 0;
	border-radius: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url('../img/arrow2.svg');
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}


@media (max-width: 766px) {
	.search-frame {
		justify-content: center;
		flex-direction: column;
		padding: 8px 0;
	}
	
	.search-sq .select-css, .search-sq2 .select-css {
		margin: 0 0 5px 0;
	}
}

.select-css::-ms-expand {
	display: none;
}

.project-photo {
	width: 100%;
	height: auto;
	padding: 0 0 56% 0;
	display: block;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
	background-position: center center;
	background-repeat: no-repeat;
}

@media (max-width: 766px) {
	.project-photo {
		padding: 0 0 100% 0;
	}
}

.project-content {
	color: #231815;
}

.project-content h2 {
	display: flex;
	align-items: center;
	font-family: 'Noto Serif TC', serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 1;
	position: relative;
	padding: 0 0 0 20px;
	letter-spacing: 5px;
	margin: 0 0 20px 0;
}

.project-content h2 span {
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 13px;
	font-weight: 400;
	display: inline-block;
	margin: 0 0 0 15px;
	letter-spacing: 0;
}

.project-content h2::before {
	content:'';
	position: absolute;
	z-index: 1;
	width: 5px;
	height: 90%;
	left: 0;
	top: 50%;
	transform: translateY(-43%);
	background-color: #e6b600;
}

.project-content h5 {
	font-size: 18px;
	font-weight: 700;
	margin: 0 0 10px 0;
}

.project-content p {
    font-size: .85rem;
    line-height: 1.7;
	margin: 0 0 10px 0;
	text-align: justify;
}

.project-text {
	position: relative;
	padding: 0 30px 0 0;
}

.project-text::after {
	content:'';
	position: absolute;
	z-index: 3;
	width: 1px;
	height: 100%;
	right: 0;
	top: 0;
	background-color: rgba(0,0,0, .15);
}

.project-detail {
	padding: 0 0 0 30px;
}

.detail {
	font-size: .8rem;
	font-weight: 400;
}

.detail .col-md-6 {
	display: flex;
}

.detail span {
	font-weight: 600;
	display: inline-block;
	margin: 0 10px 0 0;
	white-space:nowrap;
}

.project-detail .contact-list {
	width: 100%;
	background-color: #fff;
	padding: 15px 20px;
	margin: 12px 0 0 0;
}

.project-detail .contact-list h4 {
	font-size: 17px;
	font-weight: 600;
	display: flex;
}

.project-detail .contact-list h4 span {
	font-weight: 300;
	white-space:nowrap;
}

@media (max-width: 766px) {
	.project-content h2 {
		font-size: 28px;
		letter-spacing: 1px;
	}
	
	.project-content h2 span {
		font-size: 12px;
	}
	
	.project-content h5 {
		font-size: 16px;
	}
	
	
	.project-detail .contact-list h4 {
		font-size: 15px;
		margin-bottom: 10px;
	}
}

@media (max-width: 991px) {
	.project-detail {
	padding: 20px 15px 0 15px;
    }
	
	.project-text {
	padding: 0 15px 20px 15px;
    }
	
	.project-text::after {
	width: calc(100% - 30px);
	height: 1px;
	right: auto;
	top: auto;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
    }
}

.project-detail .row.custom {
	margin: 15px -2px 0 -2px;
}

.project-detail .row.custom > .col-md-4 {
	padding: 0 2px;
}

.btn-custom3 {
	border-radius: 0;
	border: none;
	color: #231815;
	padding: 5px 20px;
	background-color: #e6b600;
	font-size: 14px;
	font-weight: 600;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	margin: 0;
	white-space:nowrap;
	display: block;
}

.btn-custom3:hover {
	background-color: #231815;
	color: #e6b600;
}

@media (max-width: 766px) {
	
	.btn-custom3 {
		display: block;
		font-size: 14px;
		margin: 2px 0;
	}
}

.news-frame {
	position: relative;
	z-index: 9;
}

.news-text {
	width: 100%;
	height: auto;
	color: #fff;
	display: flex;
	align-items: center;
	flex-direction: row;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

@media (max-width: 766px) {
	.news-text {
		align-items: flex-start;
	    flex-direction: column;
		padding: 15px 18px;
	}
}

.news-text .left {
	display: flex;
	padding: 0 20px;
	width: auto;
	align-items: center;
	flex-direction: row;
}

@media (max-width: 766px) {
	.news-text .left {
		padding: 0;
	}
}

.left .tag {
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 4px;
	padding: 2px 6px 2px 10px;
	margin: 0 18px 0 0;
}

a:hover .tag {
	color: #fff;
}

.left .date {
	font-size: 12px;
	font-weight: 400;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

a:hover .date {
	color: #111;
}

.news-text .right {
	display: block;
	padding: 15px 20px;
	border-left: solid 1px rgba(255,255,255, .3);
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.news-text h3 {
	font-family: 'Noto Serif TC', serif;
	font-size: 1.2rem;
	font-weight: 600;
	margin: 0;
	letter-spacing: 2px;
}

@media (max-width: 766px) {
	.news-text .right {
		padding: 10px 0 0 0;
		border-left: none;
	}
	
	.news-text h3 {
		font-size: 1.1rem;
		letter-spacing: 1px;
	}
}


a:hover .news-text .right {
	border-left: solid 1px rgba(0,0,0, .3);
}

a:hover .news-text {
	color: #111;
}

.news-photo {
	width: 100%;
	height: auto;
	padding: 0 0 56% 0;
	display: block;
    -moz-background-size:contain;
-webkit-background-size:contain;
-o-background-size:contain;
background-size:contain;
	background-color: #1f1f1f;
	background-position: center center;
	background-repeat: no-repeat;
}

@media (max-width: 766px) {
	.news-photo {
		padding: 0 0 100% 0;
	}
}

.news-pic {
	position: relative;
}

.news-pic::before {
	content: '';
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 75%;
	left: 0;
	top: 0;
	background-color: #232635;
}

.news-title {
	color:#231815;
	display: flex;
	flex-direction: row;
	margin: 0 0 15px 0;
	padding:  0 0 15px 0;
	position: relative;
}

.news-title::after {
		content: '';
		position: absolute;
		z-index: 3;
		width: 100%;
		height: 1px;
		background-color: rgba(0,0,0, .15);
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
	}

@media (max-width: 766px) {
	.news-title {
		flex-direction: column;
	}

}

.news-title .left {
	display: flex;
	padding: 0 20px 0 0;
	align-items: center;
	flex-direction: row;
}

@media (max-width: 766px) {
	.news-title .left {
		padding: 0 0 10px 0;
	}
}

.news-title .left .tag {
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 4px;
	padding: 2px 6px 2px 10px;
	margin: 0 18px 0 0;
	color: #fff;
}

.news-title .left .date {
	font-size: 12px;
	font-weight: 400;
}

.news-title h3 {
	font-family: 'Noto Serif TC', serif;
	font-size: 1.6rem;
	font-weight: 600;
	margin: 0;
	letter-spacing: 1px;
}

.news-content p {
    font-size: .85rem;
    line-height: 1.7;
	margin: 0 0 13px 0;
	text-align: justify;
}

@media (max-width: 766px) {
	
	.news-title h3  {
		font-size: 1.15rem;
		letter-spacing: 1px;
	}
}

.info-sq {
	-webkit-box-shadow: 1px 1px 11px 1px rgba(0,0,0,0.45); 
box-shadow: 1px 1px 11px 1px rgba(0,0,0,0.45);
}

.map {
	min-height: 300px;
}

.info {
	background-color: #e6b600;
}

.info-logo {
	width: 160px;
	margin: 0 0 15px 0;
}

@media (max-width: 766px) {
	.info {
	padding: 20px 0;
}
	
	.info-logo {
	width: 130px;
	margin: 0 auto 15px auto;
}
}

.info p {
	font-size: .9rem;
	font-weight: 600;
	color: #3e3a39;
	margin: 0 0 10px 0;
	display: flex;
	align-items: baseline;
}

@media (max-width: 766px) {
	.info p {
		font-size: .85rem;
		flex-direction: column;
	}
}

.info p span.tt {
	padding: 0 5px 0 0;
	white-space:nowrap;
}

.info p span.rr {
	font-weight: 400;
}

.form-title {
	color:#3e3a39;
	text-align: center;
	margin: 40px 0 0 0;
}

.form-title h5 {
	font-family: 'Noto Serif TC', serif;
	font-size: 28px;
	font-weight: 600;
	margin: 0 0 15px 0;
	letter-spacing: 1px;
}

.form-title p {
    font-size: .85rem;
    line-height: 1.7;
	margin: 0 0 13px 0;
}

.contact-form {
	background-color: rgba(255,255,255, 0.75);
	padding: 30px;
}

.contact-form label {
	font-family: 'Noto Serif TC', serif;
	font-size: .9rem;
	font-weight: 500;
	color:#3e3a39;
} 

.contact-form .form-control {
    border-radius: 0;
    padding: .35rem 1rem;
    font-size: .95rem;
    color: #111 !important;
	background-color: rgba(0,0,0, .15);
	border: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

 .contact-form .select-css {
	display: block;
	font-size: .95rem;
	color: #111;
	background-color: rgba(0,0,0, .15);
	border: none;
	line-height: 1.5;
	padding: .35rem 1rem;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border-radius: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url('../img/arrow.svg');
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}