@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Noto Serif TC', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: always;
	background-color: #222;
}

.full-bg {
	-moz-background-size:cover;
-webkit-background-size:cover;
-o-background-size:cover;
background-size:cover;
height: 100vh;
background-repeat: no-repeat;
background-position:center center;
padding:0;
}

@media only screen and (max-width: 767px) {
	.full-bg {
		background-position:center top;
	}
}

#bg1 {
	background-image: url(../img/bg1.jpg);
}

#bg2 {
	background-image: url(../img/bg2.jpg);
}

.full-text {
	width: 100%;
	height: 100%;
	/*background-color:rgba(0,153,255, .95);*/
	-moz-background-size: auto 80%;
-webkit-background-size:auto 80%;
-o-background-size:auto 80%;
background-size:auto 80%;
background-repeat: no-repeat;
background-position:center center;
}

@media only screen and (max-width: 767px) {
	.full-text {
		-moz-background-size: 90% auto;
-webkit-background-size: 90% auto;
-o-background-size: 90% auto;
background-size: 90% auto;
	}
	
	#bg2 {
		background-position:left center;
	}
	
}

#bg1 .full-text {
	background-image: url(../img/t1.svg);
	filter: drop-shadow(0px 0px 6px rgb(0 0 0 / 0.5));
}

@media only screen and (max-width: 767px) {
	#bg1 .full-text {
	background-image: url(../img/t1m.svg);
	background-position:center top 40%;
	filter: drop-shadow(0px 0px 4px rgb(0 0 0 / 0.75));
}
}

#bg2 .full-text {
	background-image: url(../img/t2.svg);
	filter: drop-shadow(0px 0px 6px rgb(255 255 255 / 0.85));
	-moz-background-size: auto 50%;
-webkit-background-size:auto 50%;
-o-background-size:auto 50%;
background-size:auto 50%;
}

@media only screen and (max-width: 767px) {
	#bg2 .full-text {
	background-image: url(../img/t2m.svg);
	filter: drop-shadow(1px 1px 8px rgb(255 255 255 / 1));
	background-position:center top 45%;
	-moz-background-size: 80% auto;
-webkit-background-size: 80% auto;
-o-background-size: 80% auto;
background-size: 80% auto;
}
}

#foot {
	padding: 6rem 0;
	background-color: #222;
	-moz-background-size:cover;
-webkit-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-repeat: no-repeat;
background-position:center center;
background-image: url(../img/bg3.jpg);
}

#foot .frame {
	border: solid 1px rgba(255,255,255, .5);
	padding: 35px 40px;
}

#foot .btn {
	font-weight: 700;
	font-size: 1.2rem;
	padding: .5rem 1rem;
}

@media only screen and (max-width: 767px) {
	#foot .btn {
		font-size: 1.05rem;
	}
}

#foot p {
	font-family: 'Noto Sans TC', sans-serif;
	color: #fff;
	display: flex;
	align-items: center;
	font-size: 1.1rem;
	font-weight: 450;
}

#foot p i {
	color: #ffc107;
}

@media only screen and (max-width: 767px) {
	#foot p {
		font-size: .985rem;
	}
}

#copyright {
	font-family: 'Noto Sans TC', sans-serif;
	font-size: .75rem;
	font-weight:500;
	color: rgba(255,255,255, .45);
	padding: 1rem 0 0 0;
	border-top: solid 1px rgba(255,255,255, .3);
}
