#main-container #content-box {	
	padding: 25px 0 100px 0px;
}
#main-container #content-box .table-red {
	background-color: #ffeeee;
}
#main-container #content-box .table-orange {
	background-color: #ffe1bc;
}
#main-container #content-box .table td, .table th {
    padding: .75rem;
    vertical-align: middle !important; 
    border-top: 1px solid #eceeef;
    word-break: break-all;
}
#main-container #content-box .table td.colspan-3 {
	padding: 0;
	margin: 0;
}
#main-container #content-box .table td.colspan-3 table{
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: 0px;
}
#main-container #content-box .table td.colspan-3 table td{
	border: 1px solid #ccc;
	text-align: center;
}
#main-container #content-box .table td.colspan-3 table .top-tr td{
	border-top: 0;
}
#main-container #content-box .table td.colspan-3 table .top-tr td:first-child{
	border-left: 0;
}
#main-container #content-box .table td.colspan-3 table .top-tr td:last-child{
	border-right: 0;
}
#main-container #content-box .table td.colspan-3 table .bottom-tr td{
	border-bottom: 0px;
}
#main-container #content-box .table td.colspan-3 table .bottom-tr td:first-child{
	border-left: 0;
}
#main-container #content-box .table td.colspan-3 table .bottom-tr td:last-child{
	border-right: 0;
}
#main-container #content-box .table td.colspan-3 table .bottom-tr td a{
	color: #777;
}
#main-container #content-box .red {
	color: #f00;
}
#main-container #content-box .orange {
	color: #ff8a00;
}
#main-container #content-box .green {
	color: #ced984;
}
#main-container #content-box .table.total-box, .table.total-box td{
	border: 0;
}
#main-container #content-box .table.total-box td{
	vertical-align: top !important;
}
#main-container #content-box .padding-l-0 {
	padding-left: 0;
}
#main-container #content-box .title {
	font-size: 1.2em;
	line-height: 2em;
}
#main-container #content-box .all-total-box {
	border-top: 2px solid #aaa;
	text-align: right;
}
#main-container #content-box .pay-info-box .table td{
	border: 0;
	vertical-align: top !important;
}
#main-container #content-box .orderer-box .table td{
	border: 0;
	vertical-align: top !important;
}
#main-container #content-box .invoice-box .table td{
	border: 0;
	vertical-align: top !important;
}
#main-container #content-box .green-box{
	background-color: #c3db24;
}

@media (max-width: 768px) {
	#main-container #content-box {
	    padding: 25px 5px 100px 5px;
	}
}