.btn-light {
	background-color: white;
	border: 1px solid #ccc;
	color: #999;
}

#main-container #content-box {
	padding: 50px 10px 150px 10px;
	display: flex;
}
#main-container #content-box .img-box{

}
#main-container #content-box .form-box{

}

#main-container #content-box .form-box table tr td{
	height: 60px;
}

#main-container #content-box .form-box table tr td.item-name{
	width: 165px;
}

#main-container #content-box .form-box table tr td.item-content{
	width: 500px;
	color: #919191;
}
#main-container #content-box .form-box table tr td.item-content input.short, #main-container #content-box .form-box table tr td.item-content select{
	display: inline-block;
	width: 100px;
}

@media (max-width: 768px) {
	#main-container #content-box {
	    padding: 50px 10px 150px 10px;
	    display: flex;
	    flex-wrap: wrap;
	}

	#main-container #content-box .img-box {
		width: 100%;
		margin: 0 auto;

	}

	#main-container #content-box .img-box img {
		width: 100%;
		object-fit: cover;
	}

	.short {
		width: 55px !important;
	}
}