body, html{ line-height: 1; overflow-x: hidden;width: 100%}
a{color:#fbb433;}
a,a:hover,a:focus,a:active,a.active,input:focus, button
{
  outline:0;
  outline:none;
  text-decoration:none;
  -webkit-transition:.3s ease-in-out;
  transition:.3s ease-in-out;
  cursor:pointer;
}
ul, li{ list-style: none; }
ul, ol{ padding: 0; }
section{ padding: 50px 0 40px; }
.btn{ background-color: #fbb433; color: #FFF; padding: 8px 20px; border-radius: 99em; letter-spacing: 1px; }
.btn:hover{background-color:#ffa400; color: #FFF;}
.btn:active{position: relative;}
.breadcrumbs{margin-bottom:30px;padding-bottom:20px;border-bottom:1px solid #e6e6e6;color:#aaa}
select, .product-detail_header_info .product_select02 input {
    font-size: 14px;
    border-radius: 3px;
    border-color: #dddddd;
    background: rgb(234,234,234);
    background: -moz-linear-gradient(top, rgba(234,234,234,1) 1%, rgba(255,255,255,1) 99%);
    background: -webkit-linear-gradient(top, rgba(234,234,234,1) 1%,rgba(255,255,255,1) 99%);
    background: linear-gradient(to bottom, rgba(234,234,234,1) 1%,rgba(255,255,255,1) 99%);
    height: 36px;
    display: inline-block;
    min-width: 160px;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    margin-right: 10px;
    box-shadow: none;
}
.nav-header-fixed{
    color: #868d96;
    background-color: #0e172f;
    padding: 10px 0;
    line-height: 1.2;
}
.nav-header-fixed .slick-list{
    padding: 0;
    line-height: 1.3;
}
.nav-header-fixed .slick-arrow{
  display: none!important;
}
.navbar-nav{
    display: inline-block;
    float: none!important;
}
.attr-nav{
    padding-left: 10px;
    border-left: 1px solid #444;
    height: 60px;
}
.top-search{
    background-color: #2b3040;
}
.badge{
    background-color: #fbb433;
}
nav.navbar.bootsnav{
    position: fixed;
    width: 100%;
    background-color: #151f33;
    border-bottom: none;
}
.navcontainer{
    width: 100%;
    padding: 0 30px;
}

nav.bootsnav .container{
    width: calc(100% - 340px);
}
nav.navbar.bootsnav ul.nav > li > a{
    color: #FFF;
    padding-left: 0;
    padding: 0px 15px 0 0;
    line-height: 60px;
    height: 60px;
    box-sizing: border-box;
}
nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    content: '•';
    color: #444;
    margin-left: 12px;
}
nav.navbar.bootsnav ul.nav > li.dropdown:last-child > a:after{
    content:'';
    display: none;
}
nav.navbar.bootsnav ul.nav > li.dropdown:last-child > a{
    padding-right: 0;
}
nav.navbar .navbar-brand img.logo{
    width: 120px;
}
.navbar-brand {
    padding: 10px 15px;
    height: auto;
}
.attr-nav > ul > li > a {
    padding: 24px 15px;
    height: 60px;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
        background: #262a37;
        border: none;
}
nav.bootsnav .megamenu-content .title{
    color: #1a1a1a;
    font-size: 17px;
    margin: 0 0 5px;
    padding: 0 10px;
}
nav.navbar.bootsnav ul.dropdown-menu.megamenu-content{
    padding: 0 10px !important;
}
nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu.col-md-9{
    background-color: #f0f0f0;
    padding: 15px 20px 13px;
}
nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
    padding: 0;
    height: 350px;
    margin:0;
    overflow-y: auto;
}
nav.navbar.bootsnav ul.dropdown-menu.megamenu-content > li {
    padding: 0px;
}
nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li{
    padding: 5px 10px;
}
nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a{
    color: #868d96;
}
nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li:hover a,
nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li.is-active a{
    color: #FFF;
}
nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li.is-active{
    background-color: #fbb433;
}
.top-search .input-group-addon{
    padding-left: 15px;
    opacity: 0.3;
}
nav .product-item .pro-list-name{
    font-size: 13px;
}
nav .product-item  .pro-money{
    font-size: 13px;
}
nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li.nav-keyword a{
    display: inline-block;
    width: auto;
}
nav .nav-keyword{
     border-top: 1px solid #e6e6e6;
     margin-top: 20px;
     padding: 5px 0 0!important;
      margin-left: 30px;
    width: calc(100% - 30px);
}
nav .nav-keyword h5{
    font-size: 14px;
    color: #aaaaaa;
    display: inline-block;
    padding-right: 15px;
    border-right: 1px solid #e6e6e6;
    margin-right: 15px;
    font-weight: 500;
    margin-bottom: 0;
}
nav .nav-keyword a{
    color: #aaa!important;
    font-weight: 400;
    margin-right: 15px;
    padding-bottom: 0!important;
}
nav .nav-keyword a:hover{
    color: #1a1a1a!important;
}
.index-banner, .cont{
  margin-top: 98px;
}
footer{
    background: #1d2333;
    color: #FFF;
    font-size: 13px;
    padding: 30px 15px;
}
footer p, footer a{
    color: #868d96;
    font-size: 12px;
    line-height: 1.5;
}
.footer-logo{
    display: block;
    width: 100px;
    margin-bottom: 10px;
}
.footer-logo img{
    width: 100%;
}
.footer-center a{
    margin-bottom: 5px;
    display: block;
}
.footer-right div a:after{
    content: '•';
    color: #444;
    margin-right: 5px;
    margin-left: 5px;
}
.footer-right div a:last-child:after{
    margin-right: none;
    content: '';
    display: none;
}
footer a:hover{
    color: #fbb433;
}
.section-title{
    font-size: 24px;
    margin-bottom: 30px;
}
.section-title span{
    display: block;
    font-weight: normal;
    font-size: 15px;
    margin-top: 10px;
}
.copyright{
    color: #868d96;
    background-color: #161b29;
    padding: 10px 0;
    font-size: 12px;
    line-height: 1.2;
}
.copyright span{
    color: #fbb433
}


.am-pagination-lg > li > a, .am-pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;

}
.am-pagination-sm > li > a, .am-pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.am-pagination-default {
  display: inline-block;
  padding-left: 0;
  margin: 30px 0 20px;
  border-radius: 4px;
}
.am-pagination-default > li {
  display: inline;
font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}
.am-pagination-default > li > a,
.am-pagination-default > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #aaa;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
.am-pagination-default > li:first-child > a,
.am-pagination-default > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.am-pagination-default > li:last-child > a,
.am-pagination-default > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.am-pagination-default > li > a:hover,
.am-pagination-default > li > span:hover,
.am-pagination-default > li > a:focus,
.am-pagination-default > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eeeeee;
  border-color: #ddd;
}
.am-pagination-default > .active > a,
.am-pagination-default > .active > span,
.am-pagination-default > .active > a:hover,
.am-pagination-default > .active > span:hover,
.am-pagination-default > .active > a:focus,
.am-pagination-default > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #fbb433;
  border-color: #fbb433;
  cursor: default;
}
.am-pagination-default > .disabled > span,
.am-pagination-default > .disabled > span:hover,
.am-pagination-default > .disabled > span:focus,
.am-pagination-default > .disabled > a,
.am-pagination-default > .disabled > a:hover,
.am-pagination-default > .disabled > a:focus {
  color: #777777;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}
.am-pagination-default-lg > li > a,
.am-pagination-default-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.am-pagination-default-lg > li:first-child > a,
.am-pagination-default-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.am-pagination-default-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.am-pagination-default-sm > li > a,
.am-pagination-default-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.am-pagination-default-sm > li:first-child > a,
.am-pagination-default-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.am-pagination-default-sm > li:last-child > a,
.am-pagination-default-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.carousel {
  margin: 0;
  width: 100%!important;
}
.carousel-inner{
 padding: 0 40px;
}
.carousel[data-shift="1"] .carousel-inner > .item {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.carousel .carousel-inner > .item.row {
  margin: 0;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 36px;
  height: 36px;
  background: none;
  color: transparent;
  overflow: hidden;
  text-shadow: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 36px;
}
.slick-arrow.slick-disabled{
  opacity: 0!important;
}
.slick-list{
  padding-top: 10px;
  padding-bottom: 5px;
  overflow: hidden;
}
.slick-prev {
  left: -36px;
  background-image: url(../images/icon/index-s1-arrow.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.slick-next {
  right: -36px;
  background-image: url(../images/icon/index-s1-arrow_right.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.slick-dots {
  text-align: center;
  margin: 10px  0 0;
}
.slick-dots li{
  display: inline;
  margin-right: 5px;
}
.slick-dots li:last-child{
  margin-right: 0;
}
.slick-dots li button{
    border: none;
    text-indent: -9999px;
    background-color: #9c9c9c;
    width: 30px;
    height: 4px;
    border-radius: 99em;
}
.slick-dots li.slick-active button{
  background-color: #fbb433;
}
.product-detail .slick-arrow{
  width: 24px;
  height: 24px;
}
.product-detail .slick-next {
    right: -30px;
}
.product-detail .slick-prev {
    left: -30px;
}
.product-detail .slick-list{
  padding:0;
}
.product-detail  .responsive-slider2{
  margin-bottom: 50px;
}
.product-detail .slick-dots{
  margin-top: 30px;
}
.pro-s1-item {
    padding: 10px;
    border: 1px solid #ccc;
    position: relative;
}
.pro-s1-item .pro-img-box{
    border: none;
    margin-bottom: 5px;
}
.pro-s1-item.is-sale{
    border: 1px solid #fbb433;
}
.pro-s1-item h4{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.3;
    height: 2.6em;
    font-size: 15px;
    color: #1a1a1a;
}
.pro-s1-tag {
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background: #ccc;
    border-radius: 99em ;
    font-size: 12px; 
    color: #fff;
    white-space: nowrap;
}
.is-sale .pro-s1-tag{
    background-color: #fbb433;
}
.index-pro01-footer *{
    display: inline-block;
}
.index-pro01-footer .last-time{
    float: right;
    color: #999;
    font-size: 12px;
    margin: 8px 0 0;
}
.blog-item{
    position: relative;
}
.blog-item img{
    width: 100%;
}
.blog-item .blog-list-info{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 15px 15px ;
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.blog-item .blog-list-info h5{
    color: #FFF;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
}
.blog-item .blog-list-info p{
    color: #fbb433;
    margin-bottom: 0;
}
.index-banner_footer img{
    width: 100%;
}
.product-item .pro-list-name{
    display:-webkit-box;
    overflow:hidden;
    text-overflow:ellipsis;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    line-height:1.3;
    height: 2.6em;
    margin: 10px 0 0;
    color: #333333;
}
.product-item .pro-money{
    margin: 8px 0 0;
}
.pro-money{
    margin: 8px 0 0;
    line-height: 1;
    color: #fbb433;
}
.pro-money span{
    color: #999;
    margin-right: 3px;
    font-size: .8em;
}
.pro-img-box{
    position: relative;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}
.pro-img-box .cover{
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fbb433;
    opacity: 0;
    z-index: 2;
}
.product-item a:hover .pro-img-box .cover, .pro-s1-item a:hover .pro-img-box .cover{
    opacity: 0.15;
    text-decoration:none;-webkit-transition:.3s ease-in-out;transition:.3s ease-in-out;
}
.pro-img-box img{
    width: 100%;
}
.product-item a:hover img, .pro-s1-item a:hover .pro-img-box img{
    transform: scale(1.1);
    text-decoration:none;-webkit-transition:.3s ease-in-out;transition:.3s ease-in-out;
}
.product-list .product-item{
    margin-bottom: 25px;
}
.product-list .product-item .pro-list-name{
    font-size: 15px;   
}
.product-list .product-item .pro-money {
    margin: 6px 0 0;
    font-size: 15px;
}
.product-list .product-item a:hover .pro-img-box{
    border-color: #fbb433;
}
.product-list .btn{
    font-size: 16px;
}
.collection_filters{
    margin-bottom: 20px;
    /*display: inline-block;*/
    float: right;
    vertical-align: middle;
}
.product-list-header{
        margin-bottom: 30px;
    padding-bottom: 10px;
}
.product-list-header .breadcrumbs{
    padding-bottom: 0;
    border-bottom: 0;
        display: inline-block;
        margin-bottom: 0;
            height: 36px;
    line-height: 36px;
}
.product-list-header select:last-child{
 margin-right: 0;
}
.pagebanner img{
    width: 100%;
}
.product_maininfo > .product_info{
      padding-bottom: 15px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 15px;
}
.product-detail .pro-title{
  margin-top: 0;
}
.product-detail .product_price .pro-money{
  display: inline;
  margin-right: 10px;
  font-size: 20px;
}
.product_price del {
    display: inline;
    font-size: 12px;
    color: #aaa;
    letter-spacing: 1px;
}
.product_inventory_policy {
    margin-bottom: 10px;
    line-height: 2;
}
.product_inventory_policy span {
    color: #424242;
    font-weight: 500;
}
.product_inventory_policy span.val {
    color: #fbb433;
    padding-left: 10px;
}
.product_info .product_brief {
    color: #424242;
    line-height: 2;
    font-size: 13px;
    font-weight: 500;
    line-height: 2;
}
.product_info .product_brief.product_gift{
  color: #d70000;
}
.product_info .product_brief.product_gift a{
  position: relative;
  color: #d70000;
  background: #fff5e1;
}
.product_info .product_brief.product_gift a{
  margin: 0 5px;
}
.product_select01, .product_select02, .product_button{
  margin-bottom: 10px;
  max-width: 400px;
}
.product_select01 .product_brief{
    margin-bottom: 5px;
    color: #424242;
    font-size: 13px;
    font-weight: 500;
    line-height: 2;
}
.product_select01 a{
    display: inline-block;
    margin: 4px 10px 4px 0;
    padding: 8px 16px;
    border-radius: 6px;
    color: #999;
    border: 1px solid #999;
    background-color: #FFF;
}
.product_select01 a.is-active{
    color: #fbb433;
    border: 1px solid #fbb433;
    background-color: #fffcf6;
}
.product-detail_header .pro-img-box{
  margin-bottom: 20px;
}
.product-detail_header_info .col-sm-6 > select{
  width: 100%;
}
.product-detail_header_info{
  padding-left: 10px
}
.product_quantity input {
    border-color: #dddddd;
}
.btn-group, input:not([type="checkbox"]) {
    width: 100%;
    min-width: 0px;
}
.product_button button.add-down {
      display: inline-block;
    width: 20%;
    border-color: #dddddd;
    border-radius: 3px 0 0 3px;
    border-right: none;
    margin-right: 0;
    padding:8px 0;
    background-color: #FFF;
    box-sizing: border-box;
}

.product_button button svg{
  width: 10px;
  height: 12px;
}
.product_button svg * {
    fill: #999;
}

.product_info .product_content .product_quantity input{
    background-color: #ffffff;
    color: #424242;
}
.product_button button.add-up {
      display: inline-block;
    width: 20%;
    border-color: #dddddd;
    border-radius: 0 3px 3px 0;
    border-left: none;
    margin-left: 0;
    padding: 8px 0;
    background-color: #FFF;
    box-sizing: border-box;
    border-left: 1px solid #ddd;
}
.item-quantity{
    display: inline-block;
    width: 60%!important;
    background-color: #FFF!important;
    color: #999!important;
    box-sizing: border-box;
}
.product_button .btn{
  border-radius: 6px;
  width: 100%;}
.howtopay{
  padding-left: 5px;
}
.howtopay img{
  height: 16px;
  margin-right: 2px;
}
.product-detail_body{
  margin-top: 50px;
}
.tab {
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

.tabs{
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
}
.product-detail_body-title {
  position: relative;
  margin-bottom: 20px;
}
.product-detail_body-title h4{
  color: #1a1a1a;
  border-bottom: 3px solid #1a1a1a;
  font-weight: 500;
  margin: 0;
  padding: 0 5px;
  font-size: 15px;
  line-height: 40px;
  display: inline-block;
}
.tabs:after, .product-detail_body-title:after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ddd;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: -1;
}
.tabs li {
  float: left;
  line-height: 40px;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.tabs a {
  color: #999;
  font-weight: 500;
  display: block;
  letter-spacing: 0;
  outline: none;
  padding: 0 5px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-bottom: 3px solid transparent;
  font-size: 15px;
  margin-right: 15px;
}

.tabs_item {
  display: none;
  padding: 20px 0 0;
  color: #424242;
}
.tabs_item h4 {
  font-weight: bold;
  color: blue;
  font-size: 20px;
}
.tabs_item:first-child {
  display: block;
}
.tabs_item p{
  line-height: 1.7;
  margin-bottom: 20px;
}
.tabs_item.tabs_item-main img{
  max-width: 100%;
  height: auto!important;
  margin: 0 auto 50px;
}
.tabs_item h3{
  margin-top: 0;
  margin-bottom: 20px;
}
.current a {
  color: #1a1a1a;
  border-bottom: 3px solid #1a1a1a;
  font-weight: 500;
}
.product-detail_body-s1, .product-detail_body-s2, .product-detail_body-s3{
  margin-bottom: 30px;
}
.pro-footer-bg {
    position: relative;
    background: #fafafa;
    padding: 5% 10%;
    text-align: left;
    margin-top: 30px;
}
.tabs_item.tabs_item-main .pro-footer-bg img {
    max-width: 50%!important;
    margin-bottom:  0;
}
.pro-footer-bg ul {
    display: inline-block;
    position: absolute;
    top: 50%;
    padding-left: 8%;
    width: 50%;
    color: #525252;
    font-size: 13px;
    line-height: 2;
    transform: translateY(-50%);
    margin-left: -2%;
}
.pro-footer-bg ul li{
  list-style: initial;
}
.product-item_more{
  border: 1px solid #e6e6e6;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 6px;
  overflow-x: hidden;
}
.product-item_more.is-active{
  border: 1px solid #fbb433;
  background: #fff;
}
.product-item_more .pro-img-box{
  padding: 0;
  border: none;
  border-right:  1px solid #e6e6e6;
  border-radius: 0;
  margin-bottom: 0;
  width: 33.33333333%;
  padding-bottom: 33.333333%;
}
.product-item_more.is-active .pro-img-box{
  border-right:  1px solid #fbb433; 
}
.product-item_more.product-item .pro-list-name{
  font-size: 13px;
}
.product-item_more.product-item .pro-money{
  font-size: 14px;
}
.staging {
    text-align: justify;
    line-height: 1.5;    
    margin: 8px 0 8px 5px;
    border-left: 2px dotted #e6e6e6;
    padding-left: 10px;
    font-weight: normal;
}
.staging span{
  color:  #fbb433
}
.staging .bank {
  margin-top: 15px;
}
.staging .bank span{
  display: inline-block;
  color: #1a1a1a;
  background-color: #f8f8f8;
  margin: 0 2px 4px 0;
  margin-bottom: 4px;
  border-radius: 3px;
  padding: 5px 6px;
}
.range_inputs .applyBtn{
  background-color: #5cb85c;
    border-color: #4cae4c;
    padding: 4px 10px;
    display: block;
    margin: 0 0 5px 0;
}
.range_inputs .cancelBtn{
  padding: 4px 10px;
    display: block;
    margin: 0 0 5px 0;
    background-color: #fff;
    border-color: #ccc;
    color: #ccc;
    font-size: 12px;
}
.index-banner_footer, .index-banner{
  position: relative;
}
.index-banner_foote-text, .index-banner_text{
  position: absolute;
  top: 76%;
  width: 80%;
  transform: translateY(-50%);
}
.index-banner_foote-text h2, .index-banner_text h2{
  color: #FFF;
  margin: 0px 0 10px;  
  letter-spacing: 2px;  
  text-shadow: 0 1px 4px rgba(9,9,9,0.8);
} 
.index-banner_foote-text h3, .index-banner_text h3{
  color: #FFF;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 20px;
  letter-spacing: 2px;
  text-shadow: 0 1px 4px rgba(9,9,9,0.8);
}
.index-banner_foote-text.text-left, .index-banner_text.text-left{
  left: 15%;
}
.index-banner_foote-text.text-right, .index-banner_text.text-right{
  right: 15%;
}
.index-banner_foote-text.text-center, .index-banner_text.text-center{
  left: 50%;
  transform: translate(-50%, -50%);
 }
 .index-blog .slick-arrow{
  display: none!important;
 }
 .member-icon.is-active a{
  color: #fff;
 }
 .responsive-slider-nav{
  padding: 0 30px;
 }
 .responsive-slider-nav .slick-prev{
  left: 20px;
}
 .responsive-slider-nav .slick-next{
  right: 20px;
 }
.sale-slider .carousel-inner{
  padding: 0;
  overflow: visible;
}
.sale-slider .slick-list{
  margin-left: -10px;
  margin-right: -10px;
}
.sale-slider .slick-arrow{
  width: 25px;
  height: 25px;
}
@media (min-width: 1366px){
  .index_product-list .product-item{
    width: 20%;  
    float: left; 
  }
}
@media (min-width: 1279px){
  .owl-item .banner-overlay {
    opacity: 0.6;
  }
  .owl-item.active.center .banner-overlay {
    opacity: 1;
  }
}
.banner-img {
  width: auto !important; 
  max-height: 420px !important; 
  min-height: 200px !important; 
}
@media (max-width: 993px){
  .banner-img {
    width: 100% !important;
    max-height: auto !important;
  }
}
@media (max-width: 600px){
  .banner-img {
    width: auto !important; 
    max-height: 200px !important; 
  }
  .index-banner_foote-text, .index-banner_text {
    width: 90%;
  }
  .index-banner_foote-text.text-left, .index-banner_text.text-left,
  .index-banner_foote-text.text-right, .index-banner_text.text-right
  {
    left: 5%;
    right: 5%;
  }
}
.owl-carousel .owl-nav.container {
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 1440px;
}
.owl-carousel .owl-nav {
  width: 100%;
  position: absolute;
  top: 45%;
  height: 40px;
}
.owl-carousel .owl-nav:hover {
  cursor: pointer;
}
.owl-carousel .banner-prev {
  left: 4px;
}
.owl-carousel .banner-next {
  right: 4px;
}
.owl-carousel .banner-prev .fa {
  padding-right: 2px !important;
}
.owl-carousel .banner-next .fa {
  padding-left: 2px !important;
}
.owl-carousel .banner-next, .owl-carousel .banner-prev {
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  margin: 0 !important;
  background: #fff !important;
  padding: 4px;
  position: absolute;
}
.owl-carousel .banner-next i, .owl-carousel .banner-prev i {
  line-height: 30px;
  color: #4a4a4a;
  font-size: 30px;
  box-shadow: none;
}
/*
.owl-carousel .owl-dots {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 5px;
}
*/
.slide-menu .controls {
  display: inline-block;
  margin-bottom: 1rem;
  width: 100%;
}

.slide-menu .btn {
  width: 34px;
  height: 34px;
  float: right;
  color: #333;
  background: white;
  margin: 10px 10px 0 0;
  border-radius: 50%;
  padding: 0px;
}

.slide-menu .btn:hover {
  background: white;
}
@media (max-width: 767px){
  nav.navbar.bootsnav.navbar-mobile ul.nav {
      margin-left: 0px;
  }
}
@media (max-width: 992px){
  nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before {
    font-family: 'FontAwesome';
    content: "" !important;
    float: right;
    font-size: 16px;
    margin-left: 10px;
  }
  nav.navbar.bootsnav .navbar-nav {
      margin: 0px;
  }
}
.navbar-left li.is-active {
  background: #222;
}
.slide-menu {
  overflow-y: scroll !important;
}
@media (min-width: 1024px)
{
  nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content {
      display: initial;
  }
  nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu {
    border-left: 0;
    border-right: 0;
  }
}
@media (min-width: 1441px){
  nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
    height: 420px;
  }
}
.multinext:after {
  content: '＞';
  float: right;
}
.multiprev::before {
  content: '＜';
}
.menurec{
  z-index: 10;
}
.megamenu-content .show{
  left: 0%;
}
.megamenu-content .noshow{
  visibility: hidden;
  position: absolute;
  left: -25%;
}
.noshow a, .noshow a:focus, .noshow a:active, .noshow a:hover, .noshow a.active{
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.col-menu:not(.noshow) {
  -webkit-transition: left 0.2s ease-in-out;
  -moz-transition: left 0.2s ease-in-out;
  -o-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}