#main-container #content-box {	
	padding: 25px 0 25px 0px;
}
#main-container #content-box{
	display: flex;
	min-height: 500px;
}
#main-container #content-box .left-box {
	width: 200px;
}
#main-container #content-box .right-box {
	flex:1;
	padding: 0 0 0 30px;
}

/* left-box */

#main-container #content-box .left-box .title {
	margin-bottom: 10px;
}

#main-container #content-box .left-box .title i {
	color: #ade14d;
}

#main-container #content-box .left-box ul.categories{
	margin-bottom: 50px;
}

#main-container #content-box .left-box ul.categories li {
	height: 45px;
	line-height: 45px;
	border-bottom: 1px dotted #b1b1b1;
}

#main-container #content-box .left-box ul.recently li {
	height: 81px;
	border-bottom: 1px dotted #b1b1b1;
}

#main-container #content-box .left-box ul li.active {
	
}
#main-container #content-box .left-box ul a, #main-container #content-box .left-box ul a:hover {
	color: #919191;
    text-decoration: none;
}
#main-container #content-box .left-box ul a:hover li, #main-container #content-box .prodslist-box .left-box ul a li.active{
	border-bottom: 3px solid #ade14d;
}
#main-container #content-box .left-box ul.recently li {
	display: flex;
}
#main-container #content-box .left-box ul.recently li .desc-box {
	padding-left: 10px;
}
#main-container #content-box .left-box ul.recently li .name{
	line-height: 1.6em;
	font-size: 1.2em;
	color: #777;
}
/* prod list */
.prod-box {
	float: left;
	width: 240px;
	height: 260px;
	border: 1px solid #ccc;
	margin-right: 25px;
	margin-bottom: 25px;
}

.prod-box .img-box{
	position: relative;
	width: 240px;
	height: 260px;
}
.prod-box .img-box img{
	width: 100%; 
	height: 100%;
	object-fit:cover;
}

.prod-box .img-box .red-s{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50px 50px 0 0;
	border-color: red transparent transparent transparent;	
}

.prod-box .img-box .origne-s{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50px 50px 0 0;
	border-color: #ff8a00 transparent transparent transparent;
}

.prod-box .img-box .red-s.show, .prod-box .img-box .origne-s.show{
	display: block;
}

.prod-box .img-box .txt{
	position: absolute;
    top: -46px;
    left: 6px;
    color: white;
}

.info-box {
	width: auto;
	min-height: 300px;
	margin-left: 265px;
}

.info-box .name{
	font-size: 30px;
	color: #333;
	font-weight: bolder;
}

.info-box .o-price{
	color: #aaa;
	text-decoration: line-through;
}

.info-box .price{
	font-size: 30px;
	color: #f00;
	font-weight: bolder;
}

.info-box .desc{
	padding: 20px 0;
}

.info-box .select-box{
	margin-bottom: 20px;
}
.info-box .select-box a{
	display: inline-block;
	padding: 0 20px;
	border: 1px solid #666;
	line-height: 30px;
	color: #777;
	margin-right: 10px;	
}
.info-box .select-box a.selected{
	color: #fff;
	background-color: #ff8a00;
	border: 0;
}
.info-box .num-box{
	margin-bottom: 20px;
}
.info-box .num-box button{
	background-color: #fff;
	border: 1px solid #999;
	cursor: pointer;
}
.info-box .num-box input{
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	background-color: #ff8a00;
	color: white;
	width: 50px;
}
.info-box .addto-box .addto-btn {
	background-color: #ff8a00;
	color: white;
	cursor: pointer;
}

.tabs-box {
	clear: both;
	padding: 50px 0;
}
.tab-content {
	border: 1px solid #ddd;
	border-top: 0;
	padding: 30px 10px;
}

.tab-content * {
	padding: 0;
	margin:0;
}

.tab-content * {
	max-width: 760px !important;
}

.tab-content img {
    max-width: 760px !important;
    height: initial !important;
}

ul.nav.nav-tabs li a{
	color: #333;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
ul.nav.nav-tabs li.active a{
	color: white;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+0,cf0404+100;Red+3D */
	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

@media (max-width: 768px) {
	#main-container #content-box {
		flex-wrap: wrap;
		padding: 10px;
	}

	#main-container #content-box .left-box {
		width: 100%;
	}

	#main-container #content-box .right-box {
		padding: 0;
	}

	#main-container #content-box .right-box .info-box {
		clear: both;
		margin: 0;
	}

	#main-container #content-box .right-box .prod-box {
		margin: 0 auto;
		float: initial;
	}
	.info-box .select-box a {
		margin-bottom: 5px;
	}

	.tab-content * {
		max-width: 100% !important;
	}
	
	.tab-content img {
		max-width: 100% !important;
		height: initial !important;
	}
}