.form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.search-btn,
.search-btn:hover {
    margin-top: 15px;
    color: #ff8a00;
}

#main-container #content-box {
    padding: 0 0 25px 0px;
}

#main-container #content-box .search-box {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 120px;
}

#main-container #content-box .prodslist-box {
    display: flex;
    min-height: 500px;
}

#main-container #content-box .prodslist-box .left-box {
    width: 200px;
}

#main-container #content-box .prodslist-box .right-box {
    flex: 1;
    padding: 0 0 0 30px;
}


/* left-box */

#main-container #content-box .prodslist-box .left-box .title {
    margin-bottom: 10px;
}

#main-container #content-box .prodslist-box .left-box .title i {
    color: #ade14d;
}

#main-container #content-box .prodslist-box .left-box ul.categories {
    margin-bottom: 50px;
}

#main-container #content-box .prodslist-box .left-box ul.categories li {
    height: 45px;
    line-height: 45px;
    border-bottom: 1px dotted #b1b1b1;
}

#main-container #content-box .prodslist-box .left-box ul.recently li {
    height: 81px;
    border-bottom: 1px dotted #b1b1b1;
}

#main-container #content-box .prodslist-box .left-box ul li.active {}

#main-container #content-box .prodslist-box .left-box ul a,
#main-container #content-box .left-box ul a:hover {
    color: #919191;
    text-decoration: none;
}

#main-container #content-box .prodslist-box .left-box ul a:hover li,
#main-container #content-box .prodslist-box .left-box ul a li.active {
    border-bottom: 3px solid #ade14d;
}

#main-container #content-box .prodslist-box .left-box ul.recently li {
    display: flex;
}

#main-container #content-box .prodslist-box .left-box ul.recently li .desc-box {
    padding-left: 10px;
}

#main-container #content-box .prodslist-box .left-box ul.recently li .name {
    line-height: 1.6em;
    font-size: 1.2em;
    color: #777;
}


/* prod list */

.prod-box {
    float: left;
    width: 240px;
    /*height: 405px;*/
    border: 1px solid #ccc;
    margin-right: 25px;
    margin-bottom: 25px;
}

.prod-box:nth-child(3n) {
    margin-right: 0;
}

.prod-box .img-box {
    position: relative;
    width: 100%;
    height: 260px;
    border-bottom: 1px solid #ccc;
}

.prod-box .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prod-box .img-box .red-s {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 50px 0 0;
    border-color: red transparent transparent transparent;
}

.prod-box .img-box .origne-s {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 50px 0 0;
    border-color: #ff8a00 transparent transparent transparent;
}

.prod-box .img-box .red-s.show,
.prod-box .img-box .origne-s.show {
    display: block;
}

.prod-box .img-box .txt {
    position: absolute;
    top: -46px;
    left: 6px;
    color: white;
}

.prod-box .info-box {
    width: 100%;
    height: 145px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.prod-box .info-box .name {
    font-size: 1.2em;
    line-height: 2em;
    font-weight: bolder;
}

.prod-box .info-box .o-price {
    color: #aaa;
    line-height: 1.5em;
    text-decoration: line-through;
}

.prod-box .info-box .price {
    line-height: 1.5em;
}

.prod-box .btn-box {
    display: flex;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.prod-box .btn-box .details-btn,
.prod-box .btn-box .add-btn {
    flex: 1;
    text-align: center;
    line-height: 40px;
    height: 40px;
    color: #777;
    font-weight: bolder;
}

.prod-box .btn-box .details-btn {
    border-right: 1px solid #ccc;
}

@media (max-width: 768px) {
    .search-btn, .search-btn:hover {
        background-color: #ff8a00;
        color: #fff;
        width: 100%;
        margin: 0 0 20px 0;
    }

    #main-container #content-box .search-box {
        height: auto;
        border-bottom: 1px solid #ccc;
    }
    #main-container #content-box {
        padding: 10px;
    }
    #main-container #content-box .prodslist-box {
        flex-wrap: wrap;
    }
    #main-container #content-box .prodslist-box .left-box {
        width: 100%;
    }
    #main-container #content-box .prodslist-box .right-box {
        padding: 0;
        margin: 0;
    }
    #main-container #content-box .prodslist-box .right-box .prod-box {
        float: initial;
        height: auto;
        margin: 0 auto;
        margin-bottom: 25px;
        width: 90%;
    }
    .prod-box:nth-child(3n) {
        margin-right: initial;
    }
    .prod-box .info-box {
        border-bottom: 1px solid #ccc;
    }
    .prod-box .img-box {
        height: calc(100vw * 0.92);
    }
}