#main-container #content-box {
	display: flex;
	padding: 25px 0px;
}

#main-container #content-box .left-box {
	width: 200px;
}
#main-container #content-box .right-box {
	flex:1;
	padding: 0 10px 0 50px;
}

/* left-box */

#main-container #content-box .left-box .title {
	margin-bottom: 10px;
}

#main-container #content-box .left-box .title i {
	color: #ade14d;
}

#main-container #content-box .left-box ul li {
	height: 45px;
	line-height: 45px;
	border-bottom: 1px dotted #b1b1b1;
}

#main-container #content-box .left-box ul li.active {
	
}
#main-container #content-box .left-box ul a, #main-container #content-box .left-box ul a:hover {
	color: #919191;
    text-decoration: none;
}
#main-container #content-box .left-box ul a:hover li, #main-container #content-box .left-box ul a li.active{
	border-bottom: 3px solid #ade14d;
}

/* right-box */
#main-container #content-box .right-box .title {
	margin-bottom: 10px;
}

#main-container #content-box .right-box .title i {
	color: #ff8a00;
}

#main-container #content-box .right-box .accordion {

}

.panel {
	margin: 0 0 20px 0;
}
.panel .panel-heading{
	background-color: white !important;
	padding: 0;
}

.panel .panel-title a{
	display: block;
	padding: 10px 15px;
	color: #ff8a00;
	outline: none;
}
.panel .collapse {
	color: #777777;
}

@media (max-width: 768px) { 
	#main-container #content-box {
		padding: 25px 10px;
	}

	#main-container #content-box .left-box {
		display: none;
	}

	#main-container #content-box .right-box {
		margin: 0;
	}

	#main-container #content-box .right-box {
		padding: 0;
	}
}