@media screen and (max-width: 1200px) {
    nav.bootsnav .container{
        width: 100%;
    }
    .navbar-header{
        float: none;
        display: inline-block;
    }
    .navbar-default .navbar-collapse{
        border-top: 1px solid #444444;
    }
    .navcontainer{
        padding: 0;
    }
    .attr-nav{
        margin-right: 10px;
    }
    .index-banner, .cont {
        margin-top: 158px;
    }
}
@media screen and (max-width: 992px) {
    .cont{
        margin-top: 95px;
    }
    .navcontainer{
        border-bottom: 1px solid #444;
    }
    .attr-nav{
        margin-right: 0px;
    }
    footer .navcontainer{
        border-bottom: 0;
    }
    nav.navbar.bootsnav{
        position: fixed;
        width: 100%;
        height: 90px;
    }
    nav .navcontainer{
        background: #151f33;
        height: 60px;
    }
    nav.navbar.bootsnav .navbar-toggle{
        border-radius: 0;
    }
    nav.navbar .navbar-brand img.logo {
        width: 100px;
    }
    .attr-nav > ul > li > a {
        padding: 20px 15px;
        height: 54px;
    }
    .attr-nav {
        padding-left: 10px;
        border-left: 0;
        height: 54px;
    }
    nav.navbar.bootsnav .navbar-toggle .fa-times{
        color: #fdb517;
        background: #222531;
    }
    nav.navbar.bootsnav.navbar-mobile .navbar-collapse{
        background: #2d2d2d;
    }
    nav.navbar.bootsnav.navbar-mobile ul.nav{
        padding-left: 0!important;
        width: 100%;
    }
    nav.navbar.bootsnav ul.nav > li > a{
        line-height: 1.5;
        height: auto;
    }
    nav.navbar.bootsnav.navbar-mobile ul.nav > li > a,
    nav.navbar.bootsnav .navbar-nav > li > a{
        border-bottom: 1px solid rgba(255, 255, 255, 0.2)!important;
        border-top: 0!important;
        text-align: left;
    }
    nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
        content: '';
        display: none;
    }
    nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
        height: 100%;
    }
    nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu.col-md-9{
        display: none;
    }
    nav.navbar.bootsnav.navbar-mobile .navbar-collapse .megamenu-content .content{
        display: block!important;
        padding:0;
    }
    nav.navbar.bootsnav.navbar-mobile ul.nav ul.dropdown-menu .col-menu ul.menu-col li a {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        border-bottom: 0;
    }
    nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li.is-active {
        background-color: transparent;
    }
    nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li.is-active  a{
        color: #fbb433;
    }
    nav.navbar.bootsnav ul.nav > li.dropdown:last-child > a{
        padding-right: 15px;
    }
    section {
        padding: 30px 0 15px;
    }
    .index-banner{
        margin-top: 95px;
    }
    .carousel .carousel-inner > .item.row li{
        margin-bottom: 20px;
    }
    .index-blog, .index-banner_footer{
        width: 100%;
        padding: 0 15px;
    }
    .product-list .btn {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .index-banner_foote-text.text-left{
      left: 10%;
    }
    .index-banner_foote-text.text-right{
      right: 10%;
    }
    .index-banner_foote-text h2{
        font-size: 24px;
    }
    .index-banner_foote-text h3{
        font-size: 16px;
    }
}
@media (max-width: 767px){
    nav.navbar.bootsnav.navbar-mobile ul.nav {
        border-top: none;
    }
    .carousel {
        margin: 0 auto;
        width: calc(100% - 64px);
    }
    .blog-item{
        margin-bottom: 15px;
    }
    footer{
        text-align: center;
    }
    .footer-logo{
        display: none;
    }
    footer h5 {
        margin-top: 10px;
        display: inline-block;
        margin-right: 15px;
        font-weight: normal;
        color: #868d96;
    }
    .footer-center {
        display: none;
    }
    footer p, footer a{
        font-size: 13px;
    }
    .footer-right{
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        padding-top: 20px;
        margin-top: 25px;
    }
    .footer-left{
        margin-bottom: 15px;
    }
    .product-detail .slick-next {
        right: -25px;
    }
    .product-detail .slick-prev {
        left: -25px;
    }
    .product-detail_body-s3 .slick-arrow{
        display: none!important;
    }
}

@media (max-width: 580px){
    .carousel .carousel-control{
        width: 30px;
    }
    .carousel{
            width: calc(100% - 50px);
    }
    .carousel .carousel-control.left {
    left: -30px;
    }
    .carousel .carousel-control.right {
    right: -30px;
    }
    .carousel .carousel-inner > .item.row li{
        padding: 0 5px;
    }
    .partialViewSlider-nav{
        font-size: 2rem;
    }
    .index-blog, .index-banner_footer {
    width: 100%;
    padding: 0 10px;
    }
    .index-blog{
        margin-bottom: -10px;
    }
    .pro-s1-item h4, .pro-s1-item h4,.product-list .product-item .pro-list-name{
        font-size: 14px;
    }
    .btn{
        font-size: 14px;
        width: 100%;
    }
    .product-list .btn {
    margin-top: 10px;
    margin-bottom: 0px;
        font-size: 14px;
    }
    .section-title {
        font-size: 22px;
        margin-bottom: 25px;
        margin-top: 10px;
    }
    .collection_filters{
        float: none;
        margin: 5px 0;
    }
    .product-list-header {
        margin-bottom: 10px;
    }
    .product_info .product_brief{
        font-size: 14px;
    }
    .product_inventory_policy {
        margin-bottom: 0;
    }
    .product-detail_header_info .col-sm-6 > select {
       margin-bottom: 10px;
    }
    .product_button{
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        background: #e6e6e6;
        padding: 12px 10px;
        margin-bottom: 0;
    }
    .product-detail_header_info {
        padding-left: 0px;
    }
    .product_button .col-xs-6{
        padding: 0 5px;
    }
    .product-detail_body {
        margin-top: 10px;
    }
    .product-item_more.product-item .pro-list-name {
        font-size: 15px;
    }
    .product-item_more.product-item .pro-money {
        font-size: 17px;
        margin-top: 15px;
    }
    .product-item_more, .pro-money span {
        font-weight: 400;
    }
    .product-detail_body-s2{
        margin-top: 30px;
    }
    .tabs_item p{
        font-size: 15px;
    }
    .tabs_item.tabs_item-main .pro-footer-bg img{
        max-width: 100%!important;
    }
    .pro-footer-bg ul{
        position: relative;
        width: 100%;
        top: auto;
        left: auto;
        transform: none;
        padding: 15px 0;
        padding-left: 20px;
    }
    .product-item .pro-list-name{
        font-size: 14px;
    }
    .product-item .pro-money{
        font-size: 15px;
    }
    .product-detail-page .copyright {
         margin-bottom: 60px;
    }
    .tabs_item-main{
        text-align: left;
    }
    .product_brief a .popper-hover{
        margin-left: 0;
        width: 90%;
        left: 20px;
        right: auto;
        margin-top: 5px;
    }
    .index-banner_foote-text h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .index-banner_foote-text h3 {
       font-size: 14px;
       margin-bottom: 15px;
    }
    .index-banner_foote-text .btn{
        display: none;
    }
    .carousel-inner {
        padding: 0 20px;
    }
    .slick-arrow{
        width: 24px;
        height: 24px;
    }
    .slick-prev {
        left: 20px;
    }
    .slick-next {
        right: -20px;
    }
    .pro-money span{
        margin-right: 3px;
    }
    .product-detail .responsive-slider2{
        padding: 0 25px;
    }
    .product-detail .slick-next {
        right: 0px;
    }
    .product-detail .slick-prev {
        left: 0px;
    }
    select, .product-detail_header_info .product_select02 input{
        margin-bottom: 10px;
    }
    .sale-slider .slick-arrow{
        z-index: 9;
    }
    .sale-slider .slick-prev{
        left: -8px;
    }
    .sale-slider .slick-next{
        right: -8px;
    }
    .index-banner_text .btn{
        width: auto;
    }
    .index-banner_text h2{
        font-size: 18px;
        margin-bottom: 5px;
    }
    .index-banner_text h3{
        font-size: 14px;
    }
}