#main-container #content-box {
	padding: 50px 10px 150px 10px;
}

#main-container #content-box .logo{
	margin: 0 auto;
	text-align: center;
	margin-bottom: 40px;
}

#main-container #content-box .box{
	width: 300px;
	height: auto;
	text-align: center;
	margin: 0 auto;
}
#main-container #content-box .box .btn-box {
	display: block;
	width: 100%;
	height: 35px;
}

#main-container #content-box .box .btn-box ul{
	
}

#main-container #content-box .box .btn-box ul li{
	float: left;
	width: 50%;
	height: 35px;
	line-height: 35px;	
	color: #666666;
	text-align: center;
	border-bottom: 1px #666 solid;
	cursor: pointer;
	font-weight: bolder;
}
#main-container #content-box .box .btn-box ul li:hover, #main-container #content-box .box .btn-box ul li.active{
	border-bottom: 3px #ff8a00 solid;
	color: #ff8a00;
}

#main-container #content-box .box .content-box {
	display: block;
	width: 100%;
	height: 300px;
	padding-top: 20px;
}

#main-container #content-box .box .content-box .signin-box{
	display: none;
}
#main-container #content-box .box .content-box .signin-box.active{
	display: block;
}

#main-container #content-box .box .content-box .signup-box{
	display: none;
}
#main-container #content-box .box .content-box .signup-box.active{
	display: block;
}

.input-group {
	margin-bottom: 10px;
}

.verificationcode-box {
	margin-bottom: 10px;
}

.verificationcode-box .top-box {
	display: flex;
	margin: 0 0 10px 0;
}
.verificationcode-box .top-box .verificationcode {
	width: 120px;
	height: 32px;
	line-height: 32px;
	border: 1px #999 solid;
}
.verificationcode-box input {
	font-size: 0.8em;
	color: #747474;
}
.verificationcode-box .top-box .reloadbtn{
	text-align: center;
	padding-left: 20px;
}
.verificationcode-box .top-box .reloadbtn a{
	color: #999;
	line-height: 32px;
	text-decoration: underline;
	
}
.btn-light {
	background-color: white;
	border: 1px solid #ccc;
	color: #999;
}

@media (max-width: 768px) {
	
}