.mobile {
	display: none;
}
.web {
	display: block;
}

/* web header */
#main-container .header.mobile{	
	display: none;
}

#main-container .header.web{	
	height: 100px;
	padding: 0 25px;
}
#main-container .header.web .header-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100px;
}
#main-container .header.web .logo {
	width: 200px;
	height: 45px;
	cursor: pointer;
}

#main-container .header.web .nav-box {

}

#main-container .header.web .nav-box ul {
	
}

#main-container .header.web .nav-box ul li {
	float: left;
	width: 90px;
	height: 45px;
	margin: 0 5px;
	color: #000;
	line-height: 45px;
	text-align: center;
	cursor: pointer;
}
#main-container .header.web .nav-box .dropdown-menu {
	background-color: rgba(0,0,0,0.7);
}
#main-container .header.web .nav-box .dropdown-menu li{
	width: auto;
}
#main-container .header.web .nav-box .dropdown-menu a {
	width: 100%;
}
#main-container .header.web .nav-box .dropdown-menu a:hover{
	background-color: transparent;
	color: #ff8a00 !important;
}
 #main-container .header.web .nav-box .dropdown-menu a:visited, #main-container .header.web .nav-box .dropdown-menu a:active, #main-container .header.web .nav-box .dropdown-menu a:link  {
 	background-color: transparent !important;
 }
#main-container .header.web .nav-box ul li.btn:hover ,#main-container .header.web .nav-box ul li.btn {
	padding: 0;
	font-size: 16px;
}
#main-container .header.web .nav-box ul li.btn:hover ,#main-container .header.web .nav-box ul li.btn.active {
	border-radius: 5px;
	background-color: #ff8a00;
	color: white;
	text-align: center;
	box-shadow: none;
}

#main-container .header.web .nav-box ul li a{
	text-decoration: none;
	color: #000;
}

#main-container .header.web .nav-box ul li.btn:hover a,#main-container .header.web .nav-box ul li.btn.active a{
	text-decoration: none;
	color: white;
	text-shadow: none;
}

#main-container .header.web .nav-box ul li.cart {
	position: relative;
	width: 55px;
}

#main-container .header.web .nav-box .cart .num-box{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 50%;
	background-color: #ff8a00;
	color: white;
}

/* breadcrumbs-box */
#main-container .breadcrumbs-box {
	width: 100%;
	height: 100px;	
	background: url(../images/breadcrumbs.jpg);
    background-position-y: -70%;
	background-size: cover;
}
#main-container .breadcrumbs-box  .content-box {
	display: flex;
	width: 1000px;
	height: 100px;
	line-height: 100px;
	margin: 0 auto;
}
#main-container .breadcrumbs-box  .content-box .name{
	width: 50%;
	text-align: left;
	color: white;
}
#main-container .breadcrumbs-box  .content-box .breadcrumbs{
	width: 50%;
	text-align: right;
	color: white;
}
#main-container .breadcrumbs-box  .content-box .breadcrumbs a {
	text-decoration: none;
	color: #fff;
}


/* footer-box */
#main-container .footer-box {
	width: 100%;
	height: 460px;
	background-color: #333333;
}

#main-container .footer-box .top-box{
	width: 100%;
	height: 425px;
	background-color: #262626;
}

#main-container .footer-box .bottom-box{
	width: 100%;
	height: 35px;
	line-height: 35px;
	background-color: #333333;
}

#main-container .footer-box  .top-box .content-box {
	box-sizing: border-box;
	display: flex;
	margin: 0 auto;
	padding: 65px 5px;
	max-width: 1000px;
	height: 425px;
}

#main-container .footer-box  .top-box .content-box .l-box{
	flex:1;
	border-right: 1px solid #3d3d3d;
}

#main-container .footer-box  .top-box .content-box .c-box{
	flex:1;
	padding: 0 30px;
}

#main-container .footer-box  .top-box .content-box .r-box{
	flex:1;
	border-left: 1px solid #3d3d3d;
}

#main-container .footer-box  .top-box .content-box .l-box .info{
	padding: 40px 0 30px 0 ;
	color: #919191;
	line-height: 1.6em;
}
#main-container .footer-box  .top-box .content-box .l-box .info p{
	margin: 0;
	font-size: 0.8em;
}
#main-container .footer-box  .top-box .content-box .l-box .social-box {
	border-radius: 5px;
	border: white solid 1px;
	width: 107px;
	height: 35px;
}
#main-container .footer-box  .top-box .content-box .l-box .social-box ul{
	
}
#main-container .footer-box  .top-box .content-box .l-box .social-box ul li{
	float: left;
	width: 35px;
	height: 34px;
	line-height: 35px;
	text-align: center;
	border-right: white solid 1px;  
	background-color: transparent;
	cursor: pointer;
}
#main-container .footer-box  .top-box .content-box .l-box .social-box ul a:first-child li{
	border-radius: 5px 0 0 5px;
}
#main-container .footer-box  .top-box .content-box .l-box .social-box ul a:last-child li{
	border-right: 0;
	border-radius: 0 5px 5px 0;
}

#main-container .footer-box  .top-box .content-box .l-box .social-box ul a:hover li{
	background-color: #b4de50;
}
#main-container .footer-box  .top-box .content-box .l-box .social-box a{
	text-decoration: none;
	color: #fff;
}

#main-container .footer-box  .top-box .content-box .c-box .title {
	color: #fff;
	font-size: 1.6em;
}
#main-container .footer-box  .top-box .content-box .c-box .news-box{
	padding: 40px 0 20px 0 ;
}
#main-container .footer-box  .top-box .content-box .c-box .news-box a{	
	text-decoration: none;
	color: #919191;	
}
#main-container .footer-box  .top-box .content-box .c-box .news-box a li{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 35px;
	border-bottom: dotted 1px #919191; 
	font-size: 0.8em;
}
#main-container .footer-box  .top-box .content-box .c-box .news-box a:hover li {
	color: #b4de50;
}

#main-container .footer-box  .top-box .content-box .r-box{
	flex:1;
	padding: 0 0 0 30px;
}
#main-container .footer-box  .top-box .content-box .r-box .t-box{
	width: 100%;
}
#main-container .footer-box  .top-box .content-box .r-box .t-box .title{
	margin-bottom: 15px;
	color: #fff;
	font-size: 1.6em;
}
#main-container .footer-box  .top-box .content-box .r-box .t-box ul {
	width: 100%;
	height: 25px;
	margin-bottom: 25px;
}
#main-container .footer-box  .top-box .content-box .r-box .t-box ul a{
	text-decoration: none;
	color: #919191;	
}
#main-container .footer-box  .top-box .content-box .r-box .t-box ul a li{
	float: left;
	width: 100px;
	line-height: 1.6em;
	text-align: left;
}
#main-container .footer-box  .top-box .content-box .r-box .t-box ul a:last-child li{
	text-align: right;
	border-left: 1px solid #919191;
}

#main-container .footer-box  .top-box .content-box .r-box .m-box{
	clear: both;
	width: 100%;
}
#main-container .footer-box  .top-box .content-box .r-box .m-box .title{
	color: #fff;
	font-size: 1.6em;
	margin-bottom: 15px;
}
#main-container .footer-box  .top-box .content-box .r-box .m-box ul {
	width: 100%;
	height: 25px;
	margin-bottom: 25px;
}
#main-container .footer-box  .top-box .content-box .r-box .m-box ul a{
	text-decoration: none;
	color: #919191;	
}
#main-container .footer-box  .top-box .content-box .r-box .m-box ul a li{
	float: left;
	width: 100px;
	line-height: 1.6em;
	text-align: left;
}
#main-container .footer-box  .top-box .content-box .r-box .m-box ul a:last-child li{
	text-align: right;
	border-left: 1px solid #919191;
}

#main-container .footer-box  .top-box .content-box .r-box .b-box{
	clear: both;
	width: 100%;
}
#main-container .footer-box  .top-box .content-box .r-box .b-box .title{
	margin-bottom: 15px;
	color: #fff;
	font-size: 1.6em;
}
#main-container .footer-box  .top-box .content-box .r-box .b-box ul {
	width: 100%;
	height: 25px;
	margin-bottom: 25px;
}
#main-container .footer-box  .top-box .content-box .r-box .b-box ul a{
	text-decoration: none;
	color: #919191;	
}
#main-container .footer-box  .top-box .content-box .r-box .b-box ul a li{
	float: left;
	width: 100px;
	line-height: 1.6em;
	text-align: left;
}
#main-container .footer-box  .top-box .content-box .r-box .b-box ul a:last-child li{
	text-align: right;
	border-left: 1px solid #919191;
}
#main-container .footer-box  .top-box .content-box .r-box ul a:hover{
	color: #b4de50;
}

#main-container #content-box {
	width: 1000px;
	min-height: 550px;
	margin: 0 auto;
}

.fa, .fab, .fal, .far, .fas {
	line-height: inherit;
}

@media (max-width: 768px) {
	.mobile {		
		display: block;
	}
	.web {
		display: none;
	}


	#main-container .header.web{	
		display: none;
	}

	#main-container .header.mobile{	
		display: block;
	}

	/* mobile header */
	#main-container .header.mobile{	
		min-height: 80px;
		padding: 0;
	}

	#main-container .header.mobile .top-box{
		height: 80px;
		padding: 0 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-bottom: 1px solid #ccc;
	}

	#main-container .header.mobile .top-box .menu-box {
		width: 50px;
		height: 80px;
		line-height: 80px;
		text-align: center;
		display: flex;
	    justify-content: center;
	    align-items: center;
	    cursor: pointer;
	}

	#main-container .header.mobile .top-box .logo-box {
		flex: 1;
		display: flex;
	    justify-content: center;
	    align-items: center;
		height: 80px;
		text-align: center;
		cursor: pointer;
	}

	#main-container .header.mobile .top-box .cart-box {
		position: relative;
		width: 50px;
		height: 80px;
		line-height: 80px;
		text-align: center;
		display: flex;
	    justify-content: center;
	    align-items: center;
	    cursor: pointer;
	}
	
	#main-container .header.mobile .top-box .cart-box .num-box{
		position: absolute;
		top: 20px;
		right: 0px;
		width: 25px;
		height: 25px;
		line-height: 25px;
		text-align: center;
		border-radius: 50%;
		background-color: #ff8a00;
		color: white;
	}

	#main-container .header.mobile .bottom-box {
		width: 100%
		height:auto;
		display: none;
	}

	#main-container .header.mobile .bottom-box ul {
		background-color: #333;
		margin: 0;
	}

	#main-container .header.mobile .bottom-box ul li{
		width: 100%;
		min-height: 50px;
		border-bottom: 1px solid #999;
		line-height: 50px;
		padding: 0 20px;
	}	

	#main-container .header.mobile .bottom-box ul li.subbtn{
		padding: 0 20px;
		border-bottom: 0px solid #999;
	}
	
	#main-container .header.mobile .bottom-box ul li i{
		color: #ff8a00;
		font-size: 1.2em;
	}

	#main-container .header.mobile .bottom-box ul li.active{
		color: #ff8a00;
	}

	#main-container .header.mobile .bottom-box ul li.subbtn i{
		color: #fff;
		font-size: 1.2em;
	}

	#main-container .header.mobile .bottom-box ul a{
		color: #fff;
		font-size: 1.2em;
		text-decoration: none;
	}

	#main-container .header.mobile .bottom-box ul a:active{
		color: #ff8a00;
		font-size: 1.2em;
	}

	#main-container .header.mobile .bottom-box ul.subbtnlist{
		display: none;
	}	

	/* */
	#main-container .breadcrumbs-box {
		padding: 0 5px;
	    background-position-y: 0%;
	}
	#main-container .breadcrumbs-box .content-box {
		width: 100%;
	}

    /* footer */
	
	#main-container .footer-box .top-box {
		height: auto;
	}

	#main-container .footer-box  .top-box .content-box {
		flex-wrap: wrap;
		width: 100%;
		height: auto;
		padding: 20px 5px;
	}

	#main-container .footer-box .top-box .content-box .l-box {
		border: none;
		padding: 30px;
		border-bottom: 1px solid #3d3d3d;
		width: 100%;
		flex: initial;
	}

	#main-container .footer-box .top-box .content-box .c-box {
		padding: 30px;
		border-bottom: 1px solid #3d3d3d;
		width: 100%;
		flex: initial;
	}

	#main-container .footer-box .top-box .content-box .r-box {
		border: none;
		padding: 30px 30px 0 30px;
		width: 100%;
		flex: initial;
	}

	#main-container #content-box {
		width: 100%;
		min-height: 550px;
		margin: 0 auto;
		padding: 65px 5px;
	}

	#main-container .breadcrumbs-box .content-box .name {
		width: 10%;
	}

	#main-container .breadcrumbs-box .content-box .breadcrumbs {
		width: 90%;
	}
}
