#main-container #content-box {
	padding: 50px 10px 150px 10px;
}

#main-container #content-box .logo{
	margin: 0 auto;
	text-align: center;
	margin-bottom: 40px;
}

#main-container #content-box .box{
	width: 300px;
	height: auto;
	text-align: center;
	margin: 0 auto;
}

#main-container #content-box .box .title {
	font-size: 1.6em;
	line-height: 2em;
}

#main-container #content-box .box .note {
	font-size: 0.6em;
	line-height: 1.8em;
	margin: 10px 0;
	color: #7c7c7c;
}

#main-container #content-box .box .note.top {
	font-size: 0.8em;
	line-height: 1.8em;
	margin: 0;
	margin-top: 15px;
	color: #7c7c7c;
}

#main-container #content-box .box .note.bottom {
	font-size: 0.8em;
	line-height: 1.8em;
	margin: 0;
	margin-bottom: 15px;
	color: #7c7c7c;
}

#main-container #content-box .box a {
	font-size: 0.6em;
	color: #7c7c7c;
	text-decoration: underline;
}